<template name="penseeForm">
    <fieldset>
    <legend>A quoi penses-tu ?</legend>
    <form>
        <div>
            <label>
                Jour:
                <input type="date" id="today" />
            </label>
        </div>
        <div>
            <label>
                Ta pensée:
                <input id="texte" />
            </label>
        </div>
        <div>
            <input type="submit" value="Envoyer ma pensée" />
        </div>
    </form>
    </fieldset>
</template>